.header-field {
    display: grid;
    grid-template-columns: 9fr 3fr;

}

.header {
    color: blue;
    font-size: 40px;

    /* background-color: darkgray; */
}

.header-img {
    height: 100px;
    width: 100px;
    margin-left: 80px;
}