.exercise-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.todays-exercise {
    margin-top: 50px;
    margin-left: 80px;
}

@media screen and (max-width:780px) {
    .exercise-field {
        grid-template-columns: 1fr;
    }
}